@model MvcStok.Models.Entity.Tblmusteri
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("MusteriGuncelle", "Musteri", FormMethod.Post))
{

    <h2>Müşteri Güncelleme</h2>
    <br />
    <label>İd</label>
    @Html.TextBoxFor(s => s.id, new { @class = "form-control" })
    <br />
    <label>Adı</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <label>Soyad</label>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
    <br />
    <label>Şehir</label>
    @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
    <br />
    <label>Bakiye</label>
    @Html.TextBoxFor(x => x.Bakiye, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
}

