@model MvcStok.Models.Entity.TblUrunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{

    <h2>Urun Güncelleme</h2>
    <br />
    <label>İd</label>
    @Html.TextBoxFor(s => s.id, new { @class = "form-control" })
    <br />
    <label>Adı</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <label>Marka</label>
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    <label>Stok</label>
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    <label>Alış Fiyatı</label>
    @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })
    <br />
    <label>Satış Fiyatı</label>
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })
    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.TblKategoriler.id, (List<SelectListItem>)ViewBag.urunkategori, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
}
