@model MvcStok.Models.Entity.TblUrunler
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <h2>Yeni Ürün Ekleme</h2>
    <br />
    <label>Ürün Adı</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br /> 

    <label>Marka</label>
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />

    <label>Stok</label>
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />

    <label>Alış Fiyatı</label>
    @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })
    <br />

    <label>Satış Fiyatı</label>
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })
    <br />

    <label>Kategori</label>
   @Html.DropDownListFor(x=> x.TblKategoriler.id,(List<SelectListItem>)ViewBag.drop,new { @class="form-control" })
    <br />

    

    <button class="btn btn-info">Kaydet</button>
</form>


